.info-card {
  padding: 0 5px;
}

.info-primary {
  background-color: #3a4256;
}

.info-dark {
  background-color: #1cc7c1;
}

.info-container {
  height: 100px;
  padding: 30px;
}

.icons-style {
  font-size: 3em;
  margin-right: 20px;
}
